@font-face {
    font-family: LovelyCoffee;
    src: url(../fonts/LovelyCoffee-jEVeO.ttf);
}
body {background-color:#D3D3D3; }
h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    color:#637f19; 
    font-family: LovelyCoffee; 
    font-size: 108px; 
    text-align: center;
}
h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    color:#637f19;
    font-family: LovelyCoffee; 
    font-size: 72px; 
    text-align: center;
}
.image img {
    width: 180px;
    height: 240px;
}
.row {
    text-align: center;
} 
.socialbox {
    margin: auto;
    margin-bottom: 5px;
    background-color: black;
    color: white;
    width: 240px;
    height: 40px;
    border-radius: 8px;
}
.flex-left {
    display: flex;
    justify-content: left;
    align-items: center;
}
.left-padding {
    padding-left: 5px;
}
.socialimage {
    padding-right: 5px;
}
.whitedropshadow {
    text-shadow: black 2px 1px;
}

button.fire .social-user {
    display: none;
}

button.fire:hover {
    background-color: antiquewhite;
    color: black;
}

button.fire:hover .social-media {
    display: none;
}
button.fire:hover .social-user {
    display: inline;
}
.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav1 {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}